.footer {
  width: 100%;
  padding: 20px;
  direction: rtl;
  border-top: 1px solid #ccc;
  background-color: #ddd;
  margin-top: 30px;
}
.footer-wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px;
}
.footer-wrapper .title {
  font-weight: bold;
}
.footer-list {
  margin-top: 20px;
}

.footer-list p {
  color: #212121bd;
  font-size: 14px;
  cursor: pointer;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.social-media .icon-box {
  margin: 10px 0px;
}
.social-media .icon-box img {
  width: 50px;
}
.social-media-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.social-media-container button {
  border: none;
  outline: none;
  background-color: unset;
}
.social-icon {
  cursor: pointer;
  font-size: 20px;
}
.footer-bottom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .addresses {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-bottom .addresses p {
  font-weight: bold;
}
.footer-copyright {
  padding: 20px;
}
.right-section,
.left-section {
  display: flex;
  margin: 20px 0px;
}
.right-section {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.right-section .text {
  font-size: 13px;
  color: #212121;
}
.right-section .text a {
  direction: rtl;
}
.left-section {
  align-items: center;
  justify-content: space-around;
}
.copyright-img-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.copyright-img-container img {
  width: 70%;
}
@media screen and (max-width: 550px) {
  .footer-bottom {
    visibility: hidden;
  }
}
