* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranYekan";
}

@font-face {
  font-family: "iranYekan";
  src: url(fonts/Yekan/Yekan.eot);
  src: url(fonts/Yekan/Yekan.ttf);
  src: url(fonts/Yekan/Yekan.woff);
}
.link {
  color: inherit;
}
